#adminAllInfoDiv
{
    background: #00000052;
    height: 800px;
    width: 95%;
    position: relative;
    top: 50px;
    left: 2.5%;
    border-radius: 5px;
    text-align: center;
}

#adminAllInfoDiv input
{
    /* background: #001eff55; */
    height: 50px;
    width: 30%;
    /* position: absolute; */
    border-radius: 5px;
    font-size: larger;
    border: none;
    display: flex;
    text-align: center;
    position: relative;
    top: 130px;
    left: 35%;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#adminAllInfoDiv input[type='submit']
{
    margin-top: 25px;
    text-align: center;
    padding-left: 13%;
}

#adminAllInfoDiv input[type='file']
{
    /* display: none; */
    height: 50px;
    width: 30%;
    position: absolute;
    left: 35%;
    top: 95px;
    background: #0000003b;
    border-radius: 5px;
}

/* #adminProfileUpdateProfilePicLabel
{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 45%;
    top: 95px;
    background: #0000003b;
    border-radius: 50%;
} */

#adminAllInfoDiv input ~ label
{
    position: relative;
    right: 20%;
    top: 170px;
    font-size: larger;
}

